<page-header></page-header>

<mtx-grid
  [data]="list"
  [columns]="columns"
  [showToolbar]="false"
  [showColumnMenuButton]="false"
  [loading]="isLoading"
  [length]="pageContext.totalItems"
  [pageOnFront]="false"
  [pageIndex]="pageContext.page"
  [pageSize]="pageContext.itemsPerPage"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)"
  [cellTemplate]="{ id: indexTpl, branchName: nameTpl }"
  [showToolbar]="true"
  [toolbarTemplate]="toolbarTpl">
>
</mtx-grid>
<ng-template #nameTpl let-record let-index="index" let-col="colDef">
  <!-- <a (click)="onView(record)"><span class="branch">{{ record.branchName }}</span></a> -->
</ng-template>

<ng-template #indexTpl let-row let-index="index" let-col="colDef">
  <a >
{{ getMyIndex(index + 1) }}</a>
</ng-template>

<ng-template #toolbarTpl>
  <button mat-raised-button color="primary" type="submit" (click)="openDialog()">Add</button>
  <button mat-raised-button color="accent" class="m-l-8" type="submit" (click)="previous()">
    Back
  </button>
</ng-template>
